version: '1'
services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1  # Configuración opcional dependiendo de tu entorno Django

# Elimina el servicio de database PostgreSQL
# No es necesario si estás usando SQLite con Django en tu entorno actual de desarrollo
