.header-principal {
  background-color: var(--color-principal);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
}

.logo {
  flex: 1;
  text-align: left;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-bar {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links li a:hover {
  color: var(--color-boton-principal);
}

.auth-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: var(--color-fondo-claro);
  color: var(--color-principal);
  border-radius: 5px;
}

.auth-buttons button:hover {
  background-color: var(--color-fondo-seccion);
}

/* Estilos para el menú móvil */
.menu-toggle {
  display: none; 
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .nav-bar {
    display: none; 
    flex-direction: column; 
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    background-color: var(--color-principal);
    z-index: 10;
  }

  .nav-bar.open {
    display: flex; 
  }

  .nav-links {
    flex-direction: column; 
    gap: 10px; 
    padding: 10px;
  }

  .menu-toggle {
    display: block; 
  }
}
