/* CreateViaje.css */

.create-viaje-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .create-viaje-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .form-input,
  .form-textarea,
  .Places {
    margin-top: 5px; /* Ajuste de espacio entre elementos */
    width: calc(100% - 20px); /* Ajuste del ancho, considerando el padding */
    padding: 8px; /* Padding uniforme */
    border: 1px solid #ccc; /* Borde uniforme */
    border-radius: 5px; /* Borde redondeado */
    box-sizing: border-box; /* Incluye el padding y borde en el ancho total */
  }
  
  .form-input[type="number"]::-webkit-inner-spin-button,
  .form-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .form-textarea {
    resize: none; /* Evita que el textarea sea redimensionable */
  }
  
  .form-button {
    margin-top: 10px; /* Espacio adicional arriba del botón */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
/* Estilo para los selects */
.form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}

/* Estilo cuando el select está en foco */
.form-select:focus {
  border-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para las opciones del select */
.form-option {
  padding: 10px;
  background-color: white;
  font-size: 16px;
}

/* Estilo cuando una opción está seleccionada */
.form-option:checked {
  background-color: #007bff;
  color: white;
}